In [4]:
import numpy as np
import pandas as pd

In [2]:
out = open('phone_model_device.csv', 'w+')
out.write('device_id,phone_model')
with open('phone_brand_device_model.csv') as f:
    line = 'start'
    while True:
        line = f.readline()
        if line == '':
            break
        device_id = line.split(',')[0]
        phone = line.split(',')[1]
        model = line.split(',')[2]
        out.write(device_id)
        out.write(',')
        out.write(phone+' '+model)
out.close()

In [5]:
app_event = pd.read_csv('app_events.csv', usecols=['event_id','app_id','is_installed', 'is_active'], dtype={'is_active':bool, 'is_installed':bool})

In [14]:
app_event.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913          True       True
1         2 -5720078949152207372          True      False
2         2 -1633887856876571208          True      False
3         2  -653184325010919369          True       True
4         2  8693964245073640147          True       True

In [17]:
# events = pd.read_csv('events.csv', parse_dates=['timestamp'], index_col='event_id')
events = pd.read_csv('events.csv', parse_dates=['timestamp'])

In [18]:
events.head()

   event_id            device_id           timestamp  longitude  latitude
0         1    29182687948017175 2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744 2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721 2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426 2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570 2016-05-01 00:07:18     115.88     28.66

In [19]:
events.drop(['timestamp', 'longitude', 'latitude'], inplace=True, axis=1)

In [20]:
events.head()

   event_id            device_id
0         1    29182687948017175
1         2 -6401643145415154744
2         3 -4833982096941402721
3         4 -6815121365017318426
4         5 -5373797595892518570

In [22]:
app_device = app_event.join(events, on='event_id', how='inner', rsuffix='_r')

In [24]:
app_device[app_device['event_id'] == 1]

Empty DataFrame
Columns: [event_id, app_id, is_installed, is_active, event_id_r, device_id]
Index: []

In [9]:
app_device.set_index('device_id', inplace=True)

In [10]:
phone_brand = pd.read_csv('phone_brand_device_model.csv', index_col='device_id')

In [11]:
app_device_phone = app_device.join(phone_brand, on='device_id', how='inner')

In [12]:
app_device_phone.reset_index(inplace=True)

In [ ]:
app_device_phone.head()

In [17]:
app_device_phone['phone_model'] = ''

In [14]:
phone_model = (app_device_phone['phone_brand'].astype(str) + app_device_phone['device_model'].astype(str)).rename('phone_model')

In [25]:
for i in range(len(app_device_phone)):
    app_device_phone['phone_model'].iloc[i] = phone_model[i]

/home/haoran/.local/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

KeyboardInterrupt:

In [21]:
[1000]

'华为Mate 7'

In [31]:
app_device_phone['phone_brand'].astype(str) + app_device_phone['device_model'].astype(str)

device_id
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
-6401643145415154744    三星Galaxy Grand Prime
                                ...
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-7754266053633390277         三星Galaxy Note 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
-1184626127904161598                  小米MI 3
Length: 31926913, dtype: object

In [24]:
app_device_phone[['phone_brand', 'device_model']].apply(lambda x: x.astype('category'))

device_id
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
-6401643145415154744    三星
                        ..
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-7754266053633390277    三星
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
-1184626127904161598    小米
Name: phone_brand, Length: 31926913, dtype: category
Categories (116, object): [E人E本, E派, HTC, LG, ..., 首云, 魅族, 鲜米, 黑米]

In [56]:
app_event_table = app_event.groupby(['event_id', 'app_id']).sum()

In [58]:
app_event_table.head()

                               is_installed  is_active
event_id app_id
2        -8942695423876075857          True      False
         -8022267440849930066          True      False
         -5720078949152207372          True      False
         -3725672010020973973          True      False
         -1758857579862594461          True      False

In [60]:
app_event[(app_event['event_id']==2)]

    event_id               app_id  is_installed  is_active
0          2  5927333115845830913          True       True
1          2 -5720078949152207372          True      False
2          2 -1633887856876571208          True      False
3          2  -653184325010919369          True       True
4          2  8693964245073640147          True       True
5          2  4775896950989639373          True       True
6          2 -8022267440849930066          True      False
7          2  9112463267739110219          True      False
8          2 -3725672010020973973          True      False
9          2  7167114343576723123          True       True
10         2   487766649788038994          True      False
11         2  7460082553072507347          True      False
12         2   628020936226491308          True      False
13         2   701031210314548601          True      False
14         2 -1758857579862594461          True      False
15         2  4348659952760821294          True      False
16         2 -8942695423876075857          True      False
17         2  5497109940653330488          True       True
18         2  3717049149426646122          True      False

In [6]:
app_label = pd.read_csv('app_labels.csv')

In [23]:
gender_age_train = pd.read_csv('gender_age_train.csv', index_col='device_id')

In [31]:
gender_age_train.head()

                     gender  age   group
device_id
-8076087639492063270      M   35  M32-38
-2897161552818060146      M   35  M32-38
-8260683887967679142      M   35  M32-38
-4938849341048082022      M   30  M29-31
 245133531816851882       M   30  M29-31

In [32]:
app_label.head()

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [13]:
label_categories = pd.read_csv('label_categories.csv')

In [1]:
import gc
gc.collect()

0

In [34]:
len(events[events['longitude'] == 1]) / len(events)

0.02347469220246238